body {
	margin: 0;
    font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}


/* header styles */


#header{
	background-image: url(images/header-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	color: white;
}

.top-menu.mobile{
	display: none;
}

.menu{
	list-style: none;
	display: inline-block;
	padding-left: 0;
	width: 100%;
}
	
.menu > li{
	display: inline-block;
	padding-left: 5%;
	font-size: 14px;
}
.menu >li a{
	text-decoration: none;
	color: white;
}

.menu >li a:hover{
	text-decoration: underline;
}

.menu >li.logo-text a:hover{
	text-decoration: none;
}

.menu > li.logo-text{
	font-size: 24px;
	padding-left: 30px;
}

.logo-text img{
	vertical-align: middle;
}

.logo-text span{
	vertical-align: middle;
	padding-left: 10px;
}

.menu > li.sign-up{
	float: right;
	display: inline-block;
	background-color: #e65753;
	padding: 5px 25px 5px 25px;
	border-radius: 3px;
}

.menu > li.login{
	float: right;
	display: inline-block;
	margin-top: 5px;
	padding-right: 30px;
}

.header-title{
	text-align: center;
	margin-top: 50px;
}

.header-title h1{
	font-weight: normal;
	font-size: 26pt;
}

.header-title h2{
	font-weight: normal;
	font-size: 12pt;
	margin-top:-15px;
}

.name-email-box{
	text-align: center;
}

.name-email-box .a-b-img, .first-email-input, .search-button{
	display: inline-block;
	vertical-align: middle;
}

.name-email-box .a-b-img img{
	width: 18px;
}

.name-email-box .centered-background{
	display: inline-block;
    background: white;
    padding: 10px;
    border-radius: 5px;
	margin-top: 50px;
    margin-bottom: 50px;
}

.name-email-box .first-email-input{
	width: 400px;
	padding-left: 10px;
	padding-right: 10px;
} 

.name-email-box .first-email-input input{
	display:inline-block;
	width: 400px;
	border: none;
	font-size: 18px;
}

.name-email-box .first-email-input .name-input{
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(128,128,128,0.5);
}

.name-email-box .first-email-input .email-input{
	margin-top: 10px;
}

.name-email-box textarea:focus, input:focus, button:focus{
    outline: none;
}

.name-email-box .search-button button{
	border: none;
	background-color: white;
}

.name-email-box .search-button button:hover{
	cursor: pointer;
}

.name-email-box .search-button button img{
	width: 45px;
}

@media only screen and (max-width: 780px) {
	
	
	#header h1{
		font-size: 24px;
	}
	
	#header h2{
		font-size: 14px;
		margin-top: -5px;
	}
	
	.top-menu.mobile{
		display: block;
	}
	
	.top-menu.non-mobile{
		display: none;
	}
	
	.menu{
		text-align: center;
	}
	
	.menu.second-row{
		margin-top: -5px;
		font-size: 12px;
	}
	
	.menu > li.centered-row{
		padding-left: 0;
	}
	
	.menu > li.logo-text{
		padding-left: 0;
	}

	.menu > li.sign-up{
		float: none;
	}
	
	.menu > li.login{
		float: none;
		padding-right: 0;
	}
	
	.name-email-box .first-email-input{
		width: 150px;
	}
	
	.name-email-box .first-email-input input{
		width: 150px;
	} 
 }

/* index.php styles  */

#content .body-paragraph{
	text-align: center;
    margin-top: 100px;
}

#content .body-paragraph h2{
	font-size: 30px;
	font-weight: normal;
}

#content .body-paragraph p{
	text-align: left;
	font-size: 18px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#content .body-paragraph a{
	text-decoration: none;
}

#content .body-paragraph a:hover{
	text-decoration: underline;
}

@media only screen and (max-width: 780px) {
	#content .body-paragraph h2{
		font-size: 24px;
	}
	
	#content .body-paragraph p{
		font-size: 12px;
		width: 80%;
	}
}



/* footer.php styles */


.footer-container{
	background-image: url(images/footer-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	margin-top: 100px;
}

.three-column-container{
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.three-column-paragraph{
	display: inline-block;
	width: 25%;
	padding-left: 50px;
}

.three-column-paragraph h2{
	font-weight: normal;
}

.three-column-paragraph:first-child{
	padding-left: 0px;
}

#footer .sign-up-button{
	text-align: center;
	padding-bottom: 50px;
}

#footer .sign-up-button button{
	border-radius: 3px;
	background-color: #e65753;
	padding: 10px 25px 10px 25px;
	border: none;
	color: white;
}

#footer .sign-up-button button:hover{
	cursor: pointer;
}

.logo-copyright{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.logo-copyright img{
	vertical-align: middle;
}

.logo-copyright span{
	padding-left: 10px;
	vertical-align: middle;
	font-size: 24px;
}

.logo-copyright p{
	font-size: 10px;
}
@media only screen and (max-width: 780px) {
	
	.three-column-paragraph{
		width: 80%;
		display: block;
		padding-left: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
	
	.three-column-container{
		padding-bottom: 0;
	}
}