.menu{
	list-style: none;
	display: inline-block;
	padding-left: 0;
	width: 100%;
	font-family: open-sans;
}
	
.menu > li{
	display: inline-block;
	padding-left: 5%;
}

.menu > li.logo-text{
	font-size: 24px;
	padding-left: 30px;
}

.logo-text img{
	vertical-align: middle;
}

.logo-text span{
	vertical-align: middle;
	padding-left: 10px;
}

.sign-up{
	float: right;
	display: inline-block;
	margin-top: 5px;
}

.login{
	float: right;
	display: inline-block;
	margin-top: 5px;
	padding-right: 30px;
}
